  
        <head>
            <meta charset="UTF-8">
            <title>Admin Panel css html</title>
            <link rel="stylesheet" href="ForsideStyle.css">
        </head>
        
        <body>
        
            <div id="container">
        
                <div class="content">
                    <h1>Dashboard</h1>
                    <p>Here you can do stuff</p>
        
                    <div id="box">
                        <div class="box-top">Registrer ny bruker</div>
                        <div class="box-panel"><a href="../Backend/registrerBruker.php">Ny bruker</a></div>
                    </div>
        
                    <div id="box">
                        <div class="box-top">Se alle brukere</div>
                        <div class="box-panel"><a href="../Backend/eksisterendeBrukere.php">Alle brukere</a></div>
                    </div>
        
        
                    <div id="box">
                        <div class="box-top">Aktiviteter</div>
                        <div class="box-panel"><a href="../Backend/kursaktiviteter.php">Aktiviteter</a></div>
                    </div>
        
                    <div id="box">
                        <div class="box-top">Sorter medlemmer</div>
                        <div class="box-panel"><a href="../Backend/sortermedlemmer.php">Sorter medlemmer</a></div>
                    </div>
        
        
                </div>
        
            </div>
            
        </body>
        