<html>
<head>
		<title>Index 6.2</title>
		<meta charset="UTF-8"> 	
	</head>
    <style>

    </style>
<body>

<h1> Legg til flere aktiviteter</h1>
<pre>
<form method="post" action="<?php echo $_SERVER['PHP_SELF']; ?>">
    Aktivitetsnavn: <input type="text" name="navn" placeholder="Aktivitetsnavn" required><br>
    Aktivitetsansvarlig: <input type="text" name="ansvarlig" placeholder="Aktivitetsansvarlig" required><br>
    Start Dato: <input type="date" name="startdato" value="<?php echo date('Y-m-d');?>" required><br>
    Slutt Dato: <input type="date" name="sluttdato" value="<?php echo date('Y-m-d');?>" required><br>
    Dagens Dato: <input type="date" name="dagensdato" value="<?php echo date('Y-m-d');?>" required><br>
    <input type="submit" name="registrer" value="Registrér">
</form>
</pre>




</body>
</html>
<html>
<head>	
<title>Edit Data</title>
</head>

<body>
<a href="kursaktiviteter.php">Home</a>
<br><br>
</body>
</html>